# Create Database and Tables

The purpose of this program is to create the sample database.

Author: William Brasic

Date: 07 July 2021

In [1]:
import mysql.connector # import mysql connector library

# create a connect object
conn = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = ''
)

# Create a cursor
cur = conn.cursor()

DB_CREATE_STR = 'CREATE DATABASE IF NOT EXISTS CoffeeDB'
USE_DB_STR='USE CoffeeDB'
TABLE_COFFEE_STR = 'CREATE TABLE Coffee (\
                    Description CHAR(25), \
                    ProdNum CHAR(10) NOT NULL PRIMARY KEY, \
                    Price DOUBLE)'
TABLE_CUSTOMER_STR = 'CREATE TABLE Customer(\
                      CustomerNumber CHAR(10) NOT NULL PRIMARY KEY, \
                      Name CHAR(25),\
                      Address CHAR(25),\
                      City CHAR(12),\
                      State CHAR(2),\
                      Zip CHAR(5))'

TABLE_UNPAID_STR ='CREATE TABLE UnpaidOrder (\
                  CustomerNumber CHAR(10) NOT NULL REFERENCES Customer(CustomerNumber), \
                  ProdNum CHAR(10) NOT NULL REFERENCES Coffee(ProdNum),\
                  OrderDate CHAR(10),\
                  Quantity DOUBLE,\
                  Cost DOUBLE)'
                    
cur.execute(DB_CREATE_STR)
cur.execute(USE_DB_STR)
print('Databae CofeeCB created')
cur.execute('DROP TABLE IF EXISTS Coffee')
cur.execute('DROP TABLE IF EXISTS Customer')
cur.execute('DROP TABLE IF EXISTS unpaidorder')

cur.execute(TABLE_COFFEE_STR)
# Insert rows
cur.execute("INSERT INTO Coffee VALUES ( 'Bolivian Dark', '14-001', 8.95 )")
cur.execute("INSERT INTO Coffee VALUES ( 'Bolivian Medium', '14-002', 8.95 )")
cur.execute("INSERT INTO Coffee VALUES ( 'Brazilian Dark', '15-001', 7.95 )")
cur.execute("INSERT INTO Coffee VALUES ( 'Brazilian Medium', '15-002', 7.95 )")
cur.execute("INSERT INTO Coffee VALUES ( 'Brazilian Decaf', '15-003', 8.55 )")
cur.execute("INSERT INTO Coffee VALUES ( 'Central American Dark', '16-001', 9.95)")
cur.execute("INSERT INTO Coffee VALUES ( 'Central American Medium', '16-002', 9.95)")
cur.execute("INSERT INTO Coffee VALUES ( 'Sumatra Dark', '17-001', 7.95)")
cur.execute("INSERT INTO Coffee VALUES ( 'Sumatra Decaf', '17-002', 8.95)")
cur.execute("INSERT INTO Coffee VALUES ( 'Sumatra Medium', '17-003', 7.95)")
cur.execute("INSERT INTO Coffee VALUES ( 'Sumatra Organic Dark', '17-004', 11.95)")
cur.execute("INSERT INTO Coffee VALUES ( 'Kona Medium', '18-001', 18.45)")
cur.execute("INSERT INTO Coffee VALUES ( 'Kona Dark', '18-002', 18.45)")
cur.execute("INSERT INTO Coffee VALUES ( 'French Roast Dark', '19-001', 9.65)")
cur.execute("INSERT INTO Coffee VALUES ( 'Galapagos Medium', '20-001', 6.85)")
cur.execute("INSERT INTO Coffee VALUES ( 'Guatemalan Dark', '21-001', 9.95)")
cur.execute("INSERT INTO Coffee VALUES ( 'Guatemalan Decaf', '21-002', 10.45)")
cur.execute("INSERT INTO Coffee VALUES ( 'Guatemalan Medium', '21-003', 9.95)")
print('Table Coffee created')
            
cur.execute(TABLE_CUSTOMER_STR)  
# Insert rows
cur.execute("INSERT INTO Customer VALUES ('101', 'Downtown Cafe', '17 N. Main Street','Asheville', 'NC', '55515')")	         
cur.execute("INSERT INTO Customer VALUES ('102', 'Main Street Grocery','110 E. Main Street','Canton', 'NC', '55555')")
cur.execute("INSERT INTO Customer VALUES ('103', 'The Coffee Place', '101 Center Plaza', 'Waynesville', 'NC', '55516')")
print('Table Customer created')

cur.execute(TABLE_UNPAID_STR)  

print('Table UnpaidOrder created')

conn.commit()


# close the connection
conn.close ()

Databae CofeeCB created
Table Coffee created
Table Customer created
Table UnpaidOrder created